Repository vgiraldi99/MADS-ML-Heart: changes, and which lefthook commands are due for each by the changed paths.
All: notebooktester, mypy

.lefthook.yml:

pre-commit:
  commands:
    notebooktester:
      priority: 1
      glob: '*.ipynb'
      run: notebooktester notebooks -v -t 240
    isort:
      files: git ls-files
      glob: '*.py'
      run: isort {staged_files}
    clean-jupyter:
      files: git ls-files
      glob: '*.ipynb'
      run: jupyter nbconvert --clear-output --inplace {staged_files}
      stage_fixed: true
    ruff:
      files: git ls-files
      glob: '*.py'
      run: ruff check {staged_files} --fix
    mypy:
      glob: '*.py'
      run: mypy --pretty {staged_files} --ignore-missing-imports

pre-merge:
  commands:
    isort:
      files: git ls-files
      glob: '*.py'
      run: isort {staged_files}
    ruff:
      glob: '*.py'
      run: ruff check {all_files} --fix
    clean-jupyter:
      glob: '*.ipynb'
      run: jupyter nbconvert --clear-output --inplace {all_files}
      stage_fixed: true
    mypy:
      glob: '*.py'
      run: mypy --pretty {all_files} --ignore-missing-imports

src
  src/metrics.py
  src/models.py
Due: mypy

hypertune
  dev/hypertune.py
Due: mypy

notebooks
  notebooks/01_explore-heart.ipynb
  notebooks/02_2D-models.ipynb
  notebooks/03_1D-models.ipynb
Due: notebooktester

update notebooks
  notebooks/02_2D-models.ipynb
  notebooks/03_1D-models.ipynb
Due: notebooktester

make datasets more memory efficient
  src/datasets.py
Due: mypy

comment
  dev/hypertune.py
Due: mypy

update readme
  README.md
Due: none

Added empty report
  report/report.md
Due: none

Add initial model definitions and architecture for CNN, GRU, and LSTM
  notebooks/02_2D-models.ipynb
  notebooks/04_modeltest.ipynb
  notebooks/__init__.py
  pyproject.toml
  src/models.py
  uv.lock
Due: notebooktester, mypy

added hypertune script
  notebooks/03_1D-models.ipynb
  notebooks/04_modeltest.ipynb
  src/hypertune_CNN.py
Due: notebooktester, mypy

edited hypertune scripts
  src/hypertune_CNN.py
  src/hypertune_RNN.py
Due: mypy

added results
  src/hypertune_RNN.py
Due: mypy

_
  .gitignore
Due: none

updated readme
  README.md
Due: none
